-e git+https://github.com/Sky-NiniKo/anime-sama_downloader.git@10a2fee0baebdfeea4f32215db75eb9e8cdd8690#egg=anime_sama_api
anyio==4.7.0
black==24.10.0
certifi==2024.12.14
click==8.1.8
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
idna==3.10
markdown-it-py==3.0.0
mdurl==0.1.2
mypy==1.14.0
mypy-extensions==1.0.0
packaging==24.2
pathspec==0.12.1
platformdirs==4.3.6
Pygments==2.18.0
rich==13.9.4
sniffio==1.3.1
typing_extensions==4.12.2
yt-dlp==2024.12.23
yt-dlp-types==0.0.13
